/*registro*/

*
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(0, 0, 0);
	font-family: 'Lato', Arial, Helvetica, sans-serif;
    color: white;
}

.login-header{
    display: flex;
    justify-content: center;
}

.pag-divider{
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgb(10, 58, 121) 16%, rgba(6,5,85,1) 29%, rgba(8,7,106,1) 40%, rgba(9,9,121,1) 47%, rgba(34,7,148,1) 55%, rgba(51,6,166,1) 67%, rgba(39,40,173,1) 79%, rgba(36,50,175,1) 83%, rgba(33,58,177,1) 86%, rgba(21,94,185,1) 100%);
	width: 100%;
	height: .25rem;

}


.content-wrapper{
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: black;
    flex: 1;
    padding: 1.25rem 1.25rem 2.5rem;
    overflow: hidden;
    flex-direction: column;
    
}

.bx-all{
    padding: 25px;
}

.all{
    
    display: block;
    background-color: rgb(9, 12, 32);
    
}

button{
    margin: 25px;
}

.bx-nov{
    display: flex;
}


.wrapper{
    width: 500px;
    height:75px;
    position:relative;
    text-transform: uppercase;
}

.wrapper input{
    background: none;
    width: 100%;
    height: 100%;
    border: none;
    border-bottom: 3px solid rgb(35, 42, 134);
    color: white;
    padding-left: 8px;
    outline: none;

}


label{
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translate(-70%);
    transition: all .8s ease;
    font-size: 12px;
    pointer-events: none;
    color: white;
    background-color:rgb(9, 12, 32);
}



input:focus + label{
    font-size: 10px;
    top: 0;
    padding: 0px;
    
}