body{
    background: rgb(0, 0, 0);
	font-family: 'Lato', Arial, Helvetica, sans-serif;
    color: white;
    overflow: hidden;
}

.login-header{
    display: flex;
    justify-content: center;
}

.pag-divider{
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgb(10, 58, 121) 16%, rgba(6,5,85,1) 29%, rgba(8,7,106,1) 40%, rgba(9,9,121,1) 47%, rgba(34,7,148,1) 55%, rgba(51,6,166,1) 67%, rgba(39,40,173,1) 79%, rgba(36,50,175,1) 83%, rgba(33,58,177,1) 86%, rgba(21,94,185,1) 100%);
	width: 100%;
	height: .25rem;
}

p{
    margin: 5px;
    font-size: 12px;
}

.content-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    height: 100vh;
    background-color: black;
    flex: 1;
    padding: 1.25rem 1.25rem 2.5rem;
}

.bx-all{
    padding: 55px;
    padding: 55px;
}

.all{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    background-color: rgb(9, 12, 32);
}

.bx-nov{
    display: flex;
    margin: -55px 0px 10px 15px;
    padding: 15px;
}

.wrapper{
    width: 450px;
    height: 55px;
    position:relative;
    text-transform: uppercase;
    margin-bottom:20px;
}

.wrapper input{
    background: none;
    width: 100%;
    height: 100%;
    border: none;
    border-bottom: 3px solid rgb(35, 42, 134);
    color: white;
    outline: none;
}

button{
    margin: 40px;
}

label{
    position: absolute;
    left: 30px;
    transform: translate(-70%);
    transition: all .8s ease;
    font-size: 12px;
    pointer-events: none;
    color: white;
    background-color:rgb(9, 12, 32);
}

@media (max-width: 575.98px) {
	.content-wrapper{
        width: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center !important;
    }

    .all{
        width: 420px;
        margin-left: 55px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
  
    .wrapper{
        width: 400px;
    }
}