body {
	background: url(./img/capa.png),
				url(./img/ruido.png),
				linear-gradient(50deg,#4b7ff0,#2926f8);
	background-attachment: fixed;
	font-family: 'Lato', Arial, Helvetica, sans-serif;
	color: white;
}

.premium-header{
    display: flex;
    justify-content: center;
	background: rgba(0, 0, 0, 0.664);
}

.pag-divider{
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgb(10, 58, 121) 16%, rgba(6,5,85,1) 29%, rgba(8,7,106,1) 40%, rgba(9,9,121,1) 47%, rgba(34,7,148,1) 55%, rgba(51,6,166,1) 67%, rgba(39,40,173,1) 79%, rgba(36,50,175,1) 83%, rgba(33,58,177,1) 86%, rgba(21,94,185,1) 100%);
	width: 100%;
	height: .25rem;

}

#top-row{
	background-color: black;
}

.vx-media{
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
}

#vx-destaque{
	display: flex;
	justify-content: center;
	position: absolute;
}

.vx__overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	color: white;
	display: flex;
	justify-content: center;
	opacity: 0;
}

.vx__overlay:hover{
	opacity: 2;

}

video{
	rotate: -90deg;
}
